<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    {{- partial "head" . -}}
  </head>
  <body>

  {{partial "header" .}}
    <div class="hero is-fullheight-with-navbar has-background">

      {{ partial "get_header_image" .}}
      <img alt="{{$.Scratch.Get "header_image_description"}}" class="hero-background is-transparent" src="{{.Scratch.Get "header_image_url"}}">
      <div class="hero-head">

        {{ if .IsTranslated }}
        <div class="buttons has-addons">
          {{ $.Scratch.Set "language" .Language }}
          {{ range .AllTranslations }}
            <a href="{{ .Permalink }}" class="button is-small {{ if eq ($.Scratch.Get "language") .Language }} is-info {{else}} is-text has-text-white {{end}}">{{ .Language }}</a>
          {{ end}}
        </div>
        {{ end }}
      </div>
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-white">
            {{.Title}}
          </h1>
          <p class="subtitle is-family-secondary has-text-white is-6 pt-2"  style="max-width: 550px">
            {{.Params.abstract}}


          </p>
        </div>
      </div>

  </div>
</body>
</html>
