@import "picnic.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,500;1,300&family=Patua+One&display=swap');

/* ---------colors-----------*/

$primary-color: {{ .Site.Params.primary_color  }};
$accent-color: {{ .Site.Params.accent_color  }};
$accent2-color: {{ .Site.Params.accent2_color  }};
$darkgrey-color: {{ .Site.Params.darkgrey_color }};
$lightgrey-color: {{ .Site.Params.lightgrey_color }};
$white-color: {{ .Site.Params.white_color }};

/* ---------fonts-----------*/

$header-text: 'Patua One', sans-serif;
$subhead-text: 'Montserrat', sans-serif;
$body-text: 'Merriweather', serif;



/* ---------mixins-----------*/

@mixin material_shadow() {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
}

/* ---------main elements-----------*/
body {
  background-color: $white-color;
  color: $darkgrey-color;
}

h1, h2, h3, h4, h5 {
  font-family: $subhead-text;
  letter-spacing: -0.5px;
}


nav {
  position: absolute;
  background: $primary-color;
  color: $white-color;
  padding-top: 1.2em;
  height: 153px;
  .menu {
    top: 40%;
  }
  font-family: $subhead-text;
  .brand__title {
    font-size: 2.8em;
    position: absolute;
    top: -49px;
  }

  .languagenav {
    font-size: 0.65em;
    position: absolute;
    top: -5px;
    right: 0px;
  }
  .burger {
    top: 40px;
  }
  .logo {
    height: 130px;
    margin-top: -22px;

  }
}

button, a.button {
  background-color: $accent-color;
  color: $darkgrey-color;
  font-family: $subhead-text;
}




/* ---------home page-----------*/
#hero-home {
  height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.75) ,rgba(0, 0, 0, 0.05)15%);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding: 0;
  }



.hero__overlay {

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.65) ,rgba(0, 0, 0, 0.05)15%);
}

.hero__content {
  position: absolute;
  top: 55vh;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(to right,rgba(0,0,0, 0.65) ,rgba(0, 0, 0, 0.65));
  @include material_shadow();
  padding: 20px;
  border-radius: 2px;
  color: white;
  .abstract {
      font-family: $body-text;
      font-style: italic;
  }
  h1 {

    font-size: 2.7em;
    letter-spacing: -2.1px;
    line-height: 0.97em;
    padding-bottom: 15px;


  }
}
}

/* ---------primary divs-----------*/

#hero {
  height: auto;
  margin-top: 153px;
  padding: 20px;
  img {

  }
}
.hero__title {
  padding-right: 15px;
  h1 {
    text-align: end;
    font-size: 2.7em;
    letter-spacing: -2.1px;
    line-height: 0.97em;
    position: relative;
    top: 20%;
  }
  .hero__abstract {
    font-family: $body-text;
    font-style: italic;
    text-align: end;
    position: relative;
    top: 64px;
  }

}

.hero__title-noimage {
  padding-right: 15px;
  max-width: 850px;
  h1 {
    text-align: center;
    font-size: 2.7em;
    letter-spacing: -2.1px;
    line-height: 0.97em;
    position: relative;
    top: 20%;
  }
  .hero__subtitle {
    text-align: end;
    position: relative;
    top: 116px;
    font-family: $subhead-text;
    letter-spacing: -0.5px;
  }
}

.hero__image {
  img {
    @include material_shadow();
    border: 1px solid $lightgrey-color;
    max-width: 100%;
  }
}

#maincontent {
  padding: 20px;
  font-family: $body-text;
  font-size: 0.9em;
  line-height: 1.6em;



  .maincontent__abstract {
    font-style: italic;
    font-size: 1.2em;
    color: $accent2-color;
    max-width: 850px;


  }
  .maincontent__content {
    max-width: 850px;
  }
  li {
    padding-bottom: 8px;
  }

}

.card {
  @include material_shadow();
  header {
    /*border-bottom: 1px solid $accent-color;*/
    background: $primary-color;
    color: $white-color;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;



  }
  footer {
    display: flex;
    flex-direction: column;
    min-height: 18em;

  }
  .card__content {
    font-size: 14px;
    line-height: 22px;
    padding: 12px;
  }
  .button {
    max-width: 140px;
  }
}

#footernav {
  .footernav__left {
    text-align: end;

  }
  .footernav__right {

  }
  .footernav__center {

    text-align: center;
  }
}




/* ---------images-----------*/

figure {

  width: 367px;

  @include material_shadow();
  img {
    width: 100%;
  }
  figcaption {
    padding: 15px;
    h4 {
      font-family: $body-text;
    }
    p {
      font-size: 15px;
      font-style: italic;
    }
  }
}

.fig-left {
  float: left;
  margin-left: -35%;

}

.fig-right {
  float: right;
  margin-right: -35%;

}

/* ---------responsive-----------*/




@media only screen and (max-width: 600px) {
  #maincontent, #footercontent, #contentnav, #hero,  {
    font-size: 0.85em;
  }
  .menu {
    background-color: $primary-color!important;
  }

  .hero__title {
    h1 {
      text-align: left;
      font-size: 1.8em;
      top: -10px;
      letter-spacing: -1.1px;
    }
    .hero__abstract {
      position: inherit;
      top: 0px;
      text-align: left;
    }
    .hero__subtitle {
      display: none;
    }
  }
  .maincontent__abstract {
      font-size: 1em;
    }
  .maincontent__content {
    font-size: 0.85em;
  }



  .hero__content {
    position: absolute;
    top: 25vh;
    font-size: 0.85em;
  }
  .hero__image {
    img {
      max-width: 100%;
    }
  }
  #footernav {
    .footernav__left, .footernav__right {
      text-align: center;
    }
  }

  span.brand__title {
    font-size: 1.5em;
  }
  nav {
    .burger {
    top: 21px;
    }
    .logo {
    height: 4em;
    margin-top: -2em;
    padding-left: 2px;
    }
  }


}

@media only screen and (max-width: 1100px) {


  .fig-left, .fig-right {
    float: none;
    margin-left: 0px;
    max-width: 100%;
  }




}
