<div class="card has-background-light is-flex is-flex-direction-column" style="min-height: 100%">
  <header class="card-header has-background-primary">
    <p class="card-header-title">
      {{.Title}}
    </p>

  </header>
  <div class="card-content is-flex-grow-1">
    <div class="content">
      {{.Params.abstract}}
      {{ partial "eventtombstone" .}}

    </div>
  </div>
  <footer class="card-footer">

    <a href="{{.Permalink}}" class="card-footer-item">{{ i18n "more_details" }}</a>
  </footer>
</div>
