
  {{ if .Resources.Match "hero" }}
    {{- $image := .Resources.GetMatch "hero" -}}


    {{- $.Scratch.Set "header_image_url" $image.RelPermalink -}}
    {{- $.Scratch.Set "header_image_source" $image.Params.source -}}
    {{- $.Scratch.Set "header_image_description" $image.Params.description -}}
  {{- else -}} <!--if no hero image, grab the first image in the directory and use that -->
    {{ $image := resources.Get "images/noelita_logo.png" }}
    {{- $.Scratch.Set "header_image_url" $image.Permalink -}}
    {{- $.Scratch.Set "header_image_source" "test-source" -}}
    {{- $.Scratch.Set "header_image_description" "Logo for Noelita for AISD" -}}

{{- end -}}
