{{- if .Resources.GetMatch "hero" -}}
  {{- $image := .Resources.GetMatch "hero" -}}
  {{- $image := $image.Fill "700x500 q70" -}}

  {{- $.Scratch.Set "header_image_url" $image.RelPermalink -}}
  {{- $.Scratch.Set "header_image_source" $image.Params.source -}}
  {{- $.Scratch.Set "header_image_description" $image.Params.description -}}
{{- else -}} <!--if no hero image, grab the first image in the directory and use that -->
  {{- range .Resources.ByType "image" | first 1 -}}
    {{- $image := .Fill "500x400 q70" -}}
    {{- $.Scratch.Set "header_image_url" $image.RelPermalink -}}
  {{- end -}}
{{- end -}}
