<nav class="navbar is-info main-nav" role="navigation" aria-label="main navigation">
  <input type="checkbox" id="toggler" role="button" class="toggler" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" />
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.Home.Permalink }}">
      {{ $logo := resources.Get "images/noelita_logo_notag_bw.png" }}
      <img src="{{$logo.Permalink}}" width="150" height="150">
    </a>
    <label for="toggler" class="navbar-burger burger">

      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </label>
  </div>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-start">
      {{ range .Site.Menus.main }}
        {{ if eq .Name "Platform" }}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{.URL | relLangURL }}">
                 {{.Name}}
            </a>
            <div class="navbar-dropdown">
              {{ range where $.Site.Pages "Section" "platform"}}
                {{ if ne .Kind "section"}}
                 <a class="navbar-item" href="{{.Permalink}}">
                   {{.Title}}
                 </a>
                 {{end}}
              {{end}}

            </div>
          </div>
        {{else}}
          <a class="navbar-item" href="{{.URL | relLangURL }}">
            {{.Name}}
          </a>
        {{end}}
      {{end}}
    </div>


    <div class="navbar-end">



      {{ with .Site.Menus.secondary }}
        {{range first 1 . }}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light is-outlined" href="{{.URL | relLangURL }}">
              {{.Name}}
            </a>
          </div>
        </div>
      {{end}}
      {{range after 1 . }}
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{{.URL | relLangURL }}">
            {{.Name}}
          </a>
        </div>
      </div>
    {{end}}
      {{end}}
    </div>
  </div>


</nav>
