{{$color_mod := partial "func/colors" .}}
  {{partial "header" . }}
<div class="hero is-medium is-bold is-primary">


  <div class="hero-head">

  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{.Title|markdownify}}
      </h1>
      <p class="subtitle has-text-white is-family-secondary is-6">
        {{.Params.abstract}}
        <br />
      </p>

    </div>



</div>
<div class="hero-foot">
  <div class="container is-fluid">
  <div class="columns">
    <div class="column is-5">
    <!-- Add content or other tiles -->
    </div>
    <div class="column is-2">
      <a class="button is-{{$color_mod}} is-fullwidth" href="#maincontent"><span class="icon"><i class="fas fa-angle-down fa-2x"></i></span></a>
    </div>
    <div class="column is-5">
      <span class="is-size-7 is-italic has-text-right is-family-secondary" style="display: block">{{- $.Scratch.Get "header_image_source" | markdownify -}}</span>
    </div>
  </div>
  </div>
</div>
</div>
