
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,500;1,300&family=Patua+One&display=swap');

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i|Work+Sans:200,400,900,600&display=swap');



// Update Bulma's global variables
$family-secondary: "Roboto", serif;
$family-primary: "Roboto", sans-serif;


$pink: #7f152e;
$slate: #626d71;
$beige-light: #dfd9b9;
$beige-lighter: #E9E6DF;
$green: #acbd78;

$green-light: #cfd6c5;
$green-dark: #404b35;
$blue: #0c81bb;
$blue-light: #F9E8D4;
$blue-dark: #4F2C33;
$orange: #f0810f;
$orange-light: #e8dbcb;
$orange-dark: #5c442f;
$purple: #8e7ca0;
$purple-light: #d9d4d8;
$purple-dark: #353239;
$yellow: #eeb226;


// Update Bulma's global variables
/*$family-secondary: "Patua One", serif;
$family-primary: "Merriweather", sans-serif;*/


$primary: $yellow;
$primary-light: $green-light;
$primary-dark: $green-dark;
$info: $blue;
$info-light: $blue-light;
$info-dark: $blue-dark;
$danger: $purple;
$danger-light: $purple-light;
$danger-dark: $purple-dark;
$warning: $orange;
$success: $green;




$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

$box-shadow: 	0 1px 3px rgba(0,0,0,0.12);

$card-shadow: 0 1px 3px rgba(0,0,0,0.12);

@import "../../../../node_modules/bulma/bulma.sass";


//CSS version of styling you can find here: https://gist.github.com/NikiProToss/20ab8d1fac5f8634c6aa214a8cf6b721

//Responsive mixins doesn't work here for some reason. Should be "@include desktop {}" or "+desktop" in scss/sass

//We don't want menu to be displayed on mobile by default
@media screen and (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }
}
//We don't need checkbox to be displayed in order for it to work
.toggler {
  display: none;
}
//Below are all the functionalities:
.navbar .toggler:checked {
  //Hamburger changes to X when toggler is checked
  & + .navbar-brand .burger {
    & span:nth-child(1) {
      -webkit-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg);
    }
    & span:nth-child(2) {
      opacity: 0;
    }
    & span:nth-child(3){
      -webkit-transform: translateY(-5px) rotate(-45deg);
      transform: translateY(-5px) rotate(-45deg);
    }
  }
  //Displays menu when toggler is checked only on mobile/tablet
  & ~ .navbar-menu {
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
}



.navbar-brand {
  min-height: 6.25rem;

}

.navbar-item img {
  max-height: 100%
}


.hero.has-background {
    position: relative;
    overflow: hidden;
  }

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;

  }



  .hero-background.is-transparent {

    /*  opacity: 0.3; */

  }
