{{ define "main" }}
{{$color_mod := partial "func/colors" .}}
  {{with .Content}}
    <div class="section">
        <div class="content container">
          {{.}}
        </div>
    </div>
  {{end}}
  <div class="section">
    <div class="container ">

      <div class="columns is-multiline">
          {{ range .Pages }}
            <div class="column is-half-tablet is-two-thirds-desktop is-half-widescreen">
              {{partial "card" .}}
            </div>
          {{end}}
        
        </div>
      </div>
    </div>




{{ end }}
