@import "picnic.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,500;1,300&family=Patua+One&display=swap');

/* ---------colors-----------*/

$primary-color: {{ .Site.Data.color.primary_color | default "#7E9248" }};
$accent-color: {{ .Site.Data.color.primary_color | default "#4C97B1" }};
$accent2-color: {{ .Site.Data.color.primary_color | default "rgb(227, 82, 24)" }};
$darkgrey-color: {{ .Site.Data.color.primary_color | default "#4c4c4c"}};
$lightgrey-color: {{ .Site.Data.color.primary_color | default "#bfbfbf"}};
$white-color: {{ .Site.Data.color.primary_color | default "#fbfbfb"}};

/* ---------fonts-----------*/

$header-text: 'Patua One', sans-serif;
$subhead-text: 'Montserrat', sans-serif;
$body-text: 'Merriweather', serif;



/* ---------mixins-----------*/

@mixin material_shadow() {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: none;
}

/* ---------main elements-----------*/

h1, h2, h3, h4, h5 {
  font-family: $header-text;
}
nav {
  position: absolute;
  /*background: $primary-color;*/
  color: $white-color;
  padding-top: 1.2em;
  height: 7em;
  .menu {
    top: 28%;
  }
  font-family: $subhead-text;
  .brand__title {
    font-size: 2.8em;
    position: absolute;
    top: -49px;
  }

  .languagenav {
    font-size: 0.65em;
    position: absolute;
    top: 2px;
    right: 18px;
  }
  .burger {
    top: 40px;
  }
  .logo {
    height: 7em;
    margin-top: 2em;
    padding-left: 1em;
  }
}

button, a.button {
  background-color: $accent2-color;
  color: $white-color;
  font-family: $subhead-text;
}


/* ---------primary divs-----------*/

#hero {
  height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.75) ,rgba(0, 0, 0, 0.05)15%);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    padding: 0;
  }
}



#maincontent {
  padding: 20px;
  font-family: $body-text;
  font-size: 0.9em;
  line-height: 1.6em;
  color: $darkgrey-color;
  background-color: $white-color;
}



.hero__overlay {

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.65) ,rgba(0, 0, 0, 0.05)15%);
}




.hero__content {
  position: absolute;
  top: 55vh;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(to right,rgba(0,0,0, 0.65) ,rgba(0, 0, 0, 0.65));
  @include material_shadow();
  padding: 20px;
  border-radius: 2px;
  color: white;
  .abstract {
      font-family: $subhead-text;
      font-style: italic;
  }
}

/* ---------responsive-----------*/

@media only screen and (max-width: 600px) {
  #maincontent, #footercontent, #contentnav, #hero,  {
    font-size: 0.85em;
  }
  #hero {
    height: 50vh;
  }
  .hero__content {
    position: absolute;
    top: 25vh;
    font-size: 0.85em;
  }
  span.brand__title {
    font-size: 1.5em;
  }
  nav {
    .burger {
    top: 21px;
    }
    .logo {
    height: 4em;
    margin-top: -2em;
    padding-left: 2px;
    }
  }
}
