
<div id="hero" title="" class="flex six">
  <div class="hero__title full half-900 off-sixth-1600 fourth-1600">
    {{if ne .Kind "section" }} <!--Add section header for inner pages-->
      <div class="hero__subtitle">
        {{with .GetPage "."}}{{.Title}}{{end}}
      </div>

    {{end}}

    <h1>{{.Title|markdownify}}</h1>

  </div>
  <div class="hero__image full half-900">
    {{$header_image := .Scratch.Get "header_image_url"}}
    {{if $header_image }}


    <img src="{{.Scratch.Get "header_image_url" }}" alt="{{.Scratch.Get "header_image_description"}}" >
    {{else}}
    {{ $logo := resources.Get "images/noelita_logo.png" }}
    <img class="logo" src="{{$logo.Permalink}}" />
    {{end}}
  </div>
</div>
