
<div id="hero" title="" class="flex one two-500 four-1600">
  <div class="hero__title full half-500 off-fourth-1600 fourth-1600">
    {{if eq .Section "platform" }}
      <span class="hero__subtitle">
        Platform & Values:
      </span>
    {{end}}

    <h1>{{.Title|markdownify}}</h1>
    {{if ne .Section "platform" }}
      {{with .Params.abstract}}
        <div class="hero__abstract">
          {{ . |markdownify}}
        </div>
      {{end}}
    {{ end }}
  </div>
  <div class="hero__image full half-500">
    <img src="{{.Scratch.Get "header_image_url" }}" alt="{{.Scratch.Get "header_image_description"}}" >
  </div>
</div>
