{{ define "main" }}
  <div id="maincontent" class="flex six">
    <div class="full off-sixth-800 two-third-800">
        {{.Content}}
    </div>
    <div class="full off-sixth-800 two-third-800 off-fourth-1200 half-1200">



      <div class="flex one two-1000" style="padding-top: 20px;">
      {{ range .Pages }}
        <div>
          <article class="card">
          <header>
            <h2>{{.Title}}</h2>
          </header>
          <footer>
            <div class="card__content">
              {{.Params.abstract}}
            </div>
            <br />
            <p style="flex-grow: 1"></p>
            <a href="{{.Permalink}}" class="button">Learn more</a>
          </footer>
        </article>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}
