{{ define "main" }}
  <div id="maincontent" class="flex six">
    <div class="full off-sixth-800 two-third-800 off-fourth-1200 half-1200">

      {{ .Content }}
      This is the list template from the Platform directory.
      <div class="flex one two-600">
      {{ range .Pages }}
        <div>
          <article class="card">
          <header>
            <h2>{{.Title}}</h2>
          </header>
          <footer>
            {{.Params.abstract}}
            <br />
            <a href="{{.Permalink}}" class="button">Learn more</a>
          </footer>
        </article>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}
