{{ define "main" }}
  <div id="maincontent" class="flex six">
    <div class="full off-sixth-800 two-third-800 abstract">
      {{.Params.abstract}}
    </div>
    <div class="full off-sixth-800 two-third-800 off-fourth-1200 half-1200">

      {{ .Content }}
    </div>
  </div>

    <div id="footernav" class="flex two">
      {{ if (and .NextInSection .PrevInSection)}}
        {{with .NextInSection}}
          <div class="full half-800 footernav__left">
            <a href="{{.Permalink}}" class="button">&laquo; {{.Title}}</a>
          </div>
        {{end}}
        {{with .PrevInSection}}
          <div class="full half-800 footernav__right">
            <a href="{{.Permalink}}" class="button">{{.Title}} &raquo;</a>
          </div>
        {{end}}
      {{else}}
        {{with .NextInSection}}
          <div class="full footernav__center">
            <a href="{{.Permalink}}" class="button">&laquo; {{.Title}}</a>
          </div>
        {{end}}
        {{with .PrevInSection}}
          <div class="full footernav__center">
            <a href="{{.Permalink}}" class="button">{{.Title}}  &raquo;</a>
          </div>
        {{end}}
      {{ end }}

    </div>


{{ end }}
